.sub-btn {
    height: 35px;
    width: 100px;
    border: none;
    margin-left: 10px;
    margin-top: 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(253, 66, 253);
    color: white;
    border-radius: 3px;
}